aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
autom4te.cache/
Makefile
Makefile.in
config.h
config.log
config.status
doc/Makefile
doc/Makefile.in
m4/Makefile
m4/Makefile.in
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
po/stamp-po
src/.deps/
src/Makefile
src/Makefile.in
src/hddtemp
src/hddtemp-*.o
stamp-h1
*~
